<header class="topbar">
    <h1 class="page-heading">Dashboard</h1>

    <div class="search-wrapper">
        <img src="../assets/logo/ic_twotone-search.svg" alt="search logo" class="search-logo">
        <input type="text" placeholder="Search anything...">
        <img src="../assets/logo/Vector.svg" alt="dropdown arrow" class="search-dropdown">
    </div>

    <div class="topbar-action">
        <div class="notification-wrapper">
            <img src="../assets/logo/line-md_bell.svg" alt="notifications">
            <span class="notification-badge">3</span>
        </div>

        <div class="profile-wrapper">
            <img src="../assets/logo/profile.png" alt="profile picture" class="profile-pic">

            <div class="profile-info">
                <span class="profile-name">Tolani Emma</span>
                <span class="profile-role">Admin</span>
            </div>

            <img src="../assets/logo/simple-line-icons_arrow-down.svg" alt="dropdown arrow" class="profile-chevron">
        </div>

    </div>
</header>

