
    <aside class="sidebar">
    <div class="logo">
        <img src="../assets/logo/Logo.svg" alt="Recycleconnect logo">
    </div>

    <nav class="sidebar-nav">
        <ul>
            <li>
                <a href="../dashboard/dashboard.html">
                    <img src="../assets/logo/Dashboard icon.svg" alt="dashboard logo">
                    <span>Dashboard</span>
                </a>
            </li>

            <li>
                <a href="../collection-partners/collection-partners.html">
                    <img src="../assets/logo/Ushers.svg" alt="collectionpartners logo">
                    <span>Collection Partners</span>
                </a>
            </li>

            <li>
                <a href="../recycler organisations/recycler-organisations.html">
                    <img src="../assets/logo/mdi_company.svg" alt="building logo">
                    <span>Recycler Organisations</span>
                </a>
            </li>

            <li>
                <a href="../households/households.html">
                    <img src="../assets/logo/tabler_building-warehouse.svg" alt="collectors logo">
                    <span>Households</span>
                </a>
            </li>

            <li>
                <a href="../transitions/transitions.html">
                    <img src="../assets/logo/uil_transaction.svg" alt="transaction logo">
                    <span>Transitions</span>
                </a>
            </li>

            <li>
                <a href="../disputes/disputes.html">
                    <img src="../assets/logo/mdi_set-none.svg" alt="disputes logo">
                    <span>Disputes</span>
                </a>
            </li>

            <li>
                <a href="../settings/settings.html">
                    <img src="../assets/logo/material-symbols_settings-outline.svg" alt="settings logo">
                    <span>Settings</span>
                </a>
            </li>

            <li>
                <a href="../logout/logout.html">
                    <img src="../assets/logo/material-symbols_logout.svg" alt="logout logo">
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </nav>
    </aside>